/*************************
    name:base.scss
    This file includes the common variables entities
    contents
    1.colors.
    2.fonts.
 *************/

//  1.colors
$styles-color-white: #fff;
$styles-color-gray-light: #c9c9c9;
$styles-color-gray-below:#f5f5f5;
$styles-color-gray-medium: #f4f4f4;
$styles-color-blue--cloud: #3b62b2;
$styles-color-blue--penguin:#3b62b2bf;
$styles-color-red-safron: #ff1c1c;
// 2. fonts
$styles-font--family-default: Avenir, Helvetica, Arial, sans-serif;
$styles-font--size-default: 20px;